# Project 2, Part 1, Create and load the product mapping table

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

Student:

Year:

Semester:

Section:

# Included Modules and Packages

Code cell containing your includes for modules and packages

In [ ]:
import csv

import math
import numpy as np
import pandas as pd

import psycopg2

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  

Remember you can freely use any code from the labs. You do not need to cite code from the labs.

In [ ]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [ ]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [ ]:
cursor = connection.cursor()

In [ ]:
def my_read_csv_file(file_name, limit):
    "read the csv file and print only the first limit rows"
    
    csv_file = open(file_name, "r")
    
    csv_data = csv.reader(csv_file)
    
    i = 0
    
    for row in csv_data:
        i += 1
        if i <= limit:
            print(row)
            
    print("\nPrinted ", min(limit, i), "lines of ", i, "total lines.")

# 2.1.1 Drop the product mapping table if it exists

The mapping table should be named peak_product_mapping.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.1.2 Create the product mapping table

The mapping table should be named peak_product_mapping with the following columns:
* product_id numeric(3) - AGM's product id
* peak_product_id numeric(12) - Peak's product id

product_id should be the primary key

AGM has entered its products into Peak's system.  Peak is using its product IDs and not AGM's product IDs.  This table will allow us to map between the two IDs.

Note that this table is a normal table, not a staging table.

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.1.3 Create a CSV file of product mapping data and display it

Create a CSV file of product mapping data named peak_product_mapping.csv:

* Open an editor (such as Jupyter Notebook text editor, vi, vim, nano, pico, etc.)

* Copy and paste the field list and data given below

```
product_id,peak_product_id
1,42314677
2,42314678
3,42314679
4,42314680
5,42314681
6,42314682
7,42314683
8,42314684
```

* Save the file as peak_product_mapping.csv


Check this file into your GitHub repo


To verify that you have create the file correctly, display all the rows in the CSV file using the function my_read_csv_file() (with a limit of 10) from the labs, which is included above for your convenience.  The output should look similar to this:

```
['product_id', 'peak_product_id']
['1', '42314677']
['2', '42314678']
['3', '42314679']
['4', '42314680']
['5', '42314681']
['6', '42314682']
['7', '42314683']
['8', '42314684']

Printed  9 lines of  9 total lines.
```

# 2.1.4 Load product mapping data into database table

Load the CSV file (peak_product_mapping.csv) into the database table (peak_product_mapping)

In [ ]:
connection.rollback()

query = """

Replace with your SQL

"""

cursor.execute(query)

connection.commit()

# 2.1.5 Verify the product mapping loaded correctly

Write a query to verify the product mapping loaded correctly

Also join to the products table and pull the description as product name

Include: product_id, peak_product_id, product_name

Sort by product_id

Write 1 and only 1 query.  Note that the query may have as many subqueries, including with clauses, as you wish.  

Name column headers exactly as shown in the example below. 

Format data exactly as shown in the example below.

Sort data exactly as shown in the example below.

Ensure that when you check this Juptyer Notebook into GitHub that the query results in the Pandas dataframe are clearly visible in GitHub.

The query should return 8 rows into a Pandas dataframe. The first and last rows should look similar to this: 

||product_id|peak_product_id|product_name|
|---|---|---|---|
|0|1|42314677|Pistachio Salmon|
|...|...|...|...|
|7|8|42314684|Brocolli Stir Fry|

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)