# Project 2, Part 5, Cleansing customer data

University of California, Berkeley

Master of Information and Data Science (MIDS) program

w205 - Fundamentals of Data Engineering

# Included Modules and Packages

Code cell containing your includes for modules and packages

In [ ]:
import csv

import json

import math
import numpy as np
import pandas as pd

import psycopg2

# Supporting code

Code cells containing any supporting code, such as connecting to the database, any functions, etc.  

Remember you can freely use any code from the labs. You do not need to cite code from the labs.

In [ ]:
#
# function to run a select query and return rows in a pandas dataframe
# pandas puts all numeric values from postgres to float
# if it will fit in an integer, change it to integer
#

def my_select_query_pandas(query, rollback_before_flag, rollback_after_flag):
    "function to run a select query and return rows in a pandas dataframe"
    
    if rollback_before_flag:
        connection.rollback()
    
    df = pd.read_sql_query(query, connection)
    
    if rollback_after_flag:
        connection.rollback()
    
    # fix the float columns that really should be integers
    
    for column in df:
    
        if df[column].dtype == "float64":

            fraction_flag = False

            for value in df[column].values:
                
                if not np.isnan(value):
                    if value - math.floor(value) != 0:
                        fraction_flag = True

            if not fraction_flag:
                df[column] = df[column].astype('Int64')
    
    return(df)

In [ ]:
connection = psycopg2.connect(
    user = "postgres",
    password = "ucb",
    host = "postgres",
    port = "5432",
    database = "postgres"
)

In [ ]:
cursor = connection.cursor()

# 2.5.1 Validate the city, state, and zip for stage_1_peak_customers against the zip_codes table

AGM does not want to give its customer list to 3rd party sales channels, including Peak Delivery.  For that reason, we can expect some variation in customer first and last names, and in the street.  However, the city, state, and zip should be validated by Peak's system, so we do not anticipate any issues.

Write a query that demonstrates that the city, state, and zip are valid for all records.  Like we did in 2.4, it's usually best to write a query that return the stage_id for rows with errors.  In our case the query should not return anything, except for the stage_id column header.

Sort by stage_id

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 2.5.2 Find all customer records in stage_1_peak_customers where any of first_name, last_name, and/or street do not match a customer in the customers table

AGM does not want to give its customer list to 3rd party sales channels, including Peak Delivery.  For that reason, we can expect some variation in customer first and last names, and in the street.  

Write a query that returns all customer records in state_1_peak_customers where any of the first_name, last_name, and/or street do not match a customer in the customers table

Sort by stage_id

The query should return 13 rows into a Pandas dataframe. The first and last rows should look similar to this: 

||stage_id|sale_id|customer_id|first_name|last_name|street|city|state|zip|
|---|---|---|---|---|---|---|---|---|---|
|0|10|5763728768|3729016|Hyrum|Knuckles|86668 Spenser Terrace|Oakland|CA|94618|
|...|...|...|...|...|...|...|...|...|...|
|12|97|5763728673|3728691|Eula|Dewair|3 Crownhardt Road|Albany|CA|94706|

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)

# 2.5.3 Find the percentage of Peak's customer records that do not match to AGM's customers table

Write a query to find the percentage of Peak's customer records that do not match AGM's.  The percentage can be found by taking the number of customer records in stage_1_peak_customers that do not match and dividing by the number of customers records in stage_1_peak_customers and multiplying by 100.

Show the total number of Peak customer records in stage_1_peak_customers, the number that match to customers, the number that do not match to customers, and the percentage that do not match.

Show the percentage rounded to the nearest tenth.  It is not necessary to include a percent sign.

The query should return only 1 row into a Pandas dataframe and should look similar to this: 

||total_peak_customers|total_matching_customers|total_not_matching_customers|percent_not_matching_customers|
|---|---|---|---|---|
|0|97|84|13|13.4|

In [ ]:
rollback_before_flag = True
rollback_after_flag = True

query = """

Replace with your SQL

"""

my_select_query_pandas(query, rollback_before_flag, rollback_after_flag)